footer {
  width: 100%;
  height: 306px;
  background-color: #999;
  color: #fff;
  font-size: 18px;
  margin-top: 62px;
}
.footerBar {
  padding-top: 45px;
  margin-left: 38%;
  line-height: 30px;
}
.footerBar > li {
  float: left;
  margin-right: 100px;
}
.permission {
  margin-left: 38%;
  margin-top: 63px;
}
.qrCode {
  margin-top: 45px;
  padding-left: 160px;
}
