.filterCondition {
  width: 100%;
  margin-top: 51px;
  border: 1px solid #999;
  padding: 18px 0px 22px 34px;
}
.carApplication ul,
.carBrands ul {
  float: left;
}
.carApplication ul li,
.carBrands ul li {
  float: left;
  margin-left: 42px;
  cursor: pointer;
}
.carApplication ul li:first-child,
.carBrands ul li:first-child {
  margin-left: 21px;
}
.carBrands,
.selected {
  margin-top: 20px;
}
.newEnergy {
  background-color: #e9e9e9;
  width: 604px;
  height: 50px;
  line-height: 50px;
  margin-top: 14px;
  margin-left: 100px;
}
.newEnergy span {
  margin-left: 58px;
}
.newEnergy span:first-child {
  margin-left: 0px;
  padding-left: 23px;
}
.tri {
  position: relative;
}
.triangle {
  display: block;
  width: 0;
  height: 0;
  border-width: 6px 6px 0;
  border-style: solid;
  border-color: #999 transparent transparent;
  position: absolute;
  top: 8px;
  right: -16px;
}
.ctx_180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
.ctx_0 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}
.carBrandsDetail {
  width: 914px;
  height: 50px;
  line-height: 50px;
  background-color: #e9e9e9;
  margin-top: 14px;
  margin-left: 112px;
}
.carBrandsDetail span {
  margin-left: 58px;
}
.carBrandsDetail span:first-child {
  margin-left: 0px;
  padding-left: 23px;
}
.statueChoose {
  margin-top: 54px;
}
.statusList {
  height: 58px;
  border-bottom: 4px solid #f57619;
}
.statusList li {
  float: left;
  width: 156px;
  line-height: 56px;
  letter-spacing: 4px;
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #f57619;
  border-right: 1px solid #f57619;
  cursor: pointer;
}
.statusList li:first-child {
  border-left: 1px solid #f57619;
}
.statusList li:nth-child(2) {
  width: 202px;
}
.statusList li.hightLight {
  background-color: #f57619;
  color: #fff;
}
.selectTable tbody tr:first-child {
  background-color: #e6e6e6;
  font-size: 20px;
  height: 56px;
}
.selectTable tbody tr:first-child td:first-child {
  font-weight: bold;
  border-left: 4px solid #f57619;
}
.selectTable tbody tr td {
  cursor: pointer;
}
.selectTable tbody tr td:not(:first-child) {
  text-align: center;
}
.selectTable tbody tr:not(:first-child) {
  border-bottom: 1px dotted #e9e9e9;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0px;
}
.selectDetail {
  padding-top: 16px;
}
.selectDetail span {
  margin-left: 12px;
}
.allStatus {
  padding-bottom: 18px;
  margin-top: 13px;
}
.allStatus button {
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #f57619;
  color: #f57619;
  margin-left: 12px;
}
.allStatus button:first-child {
  background-color: #f57619;
  color: #fff;
}
.loadMore {
  text-align: center;
  border-top: 1px solid #e9e9e9;
  margin-top: -21px;
}
.loadMore button {
  border: 1px solid #e9e9e9;
  width: 194px;
  height: 35px;
  line-height: 34px;
  border-top: 0px;
}
.statusContent .statusDetail {
  border: 1px solid #999;
  border-top: 0px;
}
.statusImg {
  width: 360px;
  height: 257px;
  text-align: center;
  position: relative;
  border: 1px solid #999;
}
.statusImg img {
  width: 320px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.statusDes {
  padding: 33px 62px 28px 25px;
}
.carDes:first-child {
  margin-top: 50px;
}
.carDes div ul li {
  float: left;
}
.carDes div ul li span {
  margin-left: 4px;
  margin-right: 4px;
}
.statusDesTitle {
  font-size: 26px;
  font-weight: bold;
}
.carContent {
  padding-left: 26px;
}
