.newsContent {
  margin-top: 54px;
}
.newsDetail {
  height: 1032px;
  padding: 32px 52px;
  border: 1px solid #000;
}
.newsTitle {
  font-size: 26px;
  text-align: center;
}
.newsSubTitle {
  margin-top: 30px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eaeaea;
  padding-left: 108px;
}
.newsSubTitle ul li {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #999;
}
.newsSubTitle ul li span {
  margin-left: 6px;
  margin-right: 6px;
}
.newsContent p {
  font-size: 16px;
  line-height: 40px;
  text-indent: 2em;
  margin-top: 30px;
}
.newsContent img {
  margin-top: 30px;
}
.title_line {
  font-size: 26px;
  border-left: 5px solid #f57619;
  padding-left: 10px;
}
.title_line + ul {
  margin-top: 25px;
}
.circle-orange {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #f57619;
  color: #000;
}
.relativeNews {
  padding-left: 40px;
}
.relativeNews ul {
  margin-top: 15px;
}
.relativeNews ul li {
  font-size: 16px;
  float: left;
}
.relativeNews ul li:last-child {
  margin-left: 6px;
}
.relativeNews ul li > a:hover {
  color: #f57619;
}
.hotNews {
  margin-top: 60px;
}
.hotNews .title_line {
  font-size: 26px;
  border-left: 5px solid #f57619;
  padding-left: 10px;
  background-color: #eaeaea;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.hotNews .hotNewsTitle {
  font-size: 20px;
  font-weight: bold;
}
.hotNews .hotNewsSubTitle {
  margin-top: 15px;
}
.hotNews .hotNewsSubTitle ul li {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #999;
}
.hotNews .hotNewsSubTitle ul li span {
  margin-left: 6px;
  margin-right: 6px;
}
.hotNews p {
  font-size: 14px;
  line-height: 40px;
  text-indent: 2em;
  margin-top: 20px;
}
.hotNewsDetail {
  display: inline-block;
  border-bottom: 1px solid #eaeaea;
  margin-left: 0px;
  padding-bottom: 32px;
  margin-top: 30px;
}
