.checkMsg {
  margin-top: 46px;
  padding: 23px 39px 19px 15px;
  border: 1px solid #999;
}
.msgDes {
  padding-left: 20px;
}
.desTitle {
  font-size: 26px;
  font-weight: bold;
  position: relative;
  padding-top: 13px;
}
.desTitle span {
  margin-left: 23px;
}
.desTitle span:nth-last-child(2) {
  margin-left: 0px;
}
.desTitle span:first-child {
  margin-left: 0px;
}
.desTitle span.headLine {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #f57619;
  position: absolute;
  top: 0px;
  left: -22px;
}
.desContent {
  margin-top: 36px;
}
.desContent ul {
  float: left;
  padding: 17px 49px 13px 0px;
}
.desContent ul:not(:first-child) {
  border-left: 1px solid #999;
  padding: 17px 49px 13px 27px;
}
.desContent ul li:last-child {
  font-size: 20px;
  margin-top: 18px;
}
.moreDes {
  margin-top: 25px;
}
.moreDes ul {
  float: left;
}
.moreDes ul li {
  float: left;
  font-size: 20px;
  line-height: 36px;
}
.moreDes ul li:last-child {
  font-size: 26px;
  font-weight: bold;
  color: #f57619;
  margin-left: 10px;
}
.moreDes ul:last-child {
  margin-left: 106px;
}
.tab {
  border: 1px solid #999;
  border-bottom: 0px;
}
.tabTitle {
  width: 100%;
  height: 58px;
  line-height: 58px;
  background-color: #f57619;
}
.tabTitle li {
  float: left;
  font-size: 26px;
  font-weight: bold;
  width: 162px;
  text-align: center;
  cursor: pointer;
}
.tabTitle li.active {
  background-color: #fff;
  color: #333;
}
.titleLine {
  height: 48px;
  line-height: 48px;
  background-color: #e9e9e9;
  font-size: 20px;
  border-left: 3px solid #f57619;
  padding-left: 18px;
  margin-top: 42px;
  margin-bottom: 10px;
}
.titleLine:not(:first-child) {
  margin-top: 23px;
}
.tabMsg {
  margin-top: 20px;
  padding-left: 18px;
}
.tabMsg ul li:last-child {
  margin-left: 14px;
}
.allCheckMsg {
  margin-top: 59px;
}
.hotType {
  border: 1px solid #999;
  padding: 18px 15px 66px 27px;
  width: 28%;
  margin-left: 63px;
  border-bottom: 0px;
}
.typeDetail {
  margin-top: 27px;
}
.typeDetail ul:first-child {
  text-align: center;
}
.typeDetail ul:first-child li:nth-child(2) {
  margin-top: 14px;
}
.typeDetail ul:last-child {
  margin-top: 17px;
  font-size: 20px;
  color: #f57619;
}
.typeDetail ul:last-child li {
  cursor: pointer;
}
.layui-tab-brief > .layui-tab-title .layui-this {
  color: #333;
  font-weight: bold;
}
.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after {
  border-bottom: 2px solid #f57619;
}
.layui-tab-item img {
  float: left;
  margin-top: 34px;
}
.layui-tab-item img:not(:nth-child(3n+1)) {
  margin-left: 21px;
}
.layui-tab-title {
  width: 98%;
  left: 1%;
  margin-bottom: 7px;
}
.layui-tab-content {
  padding: 0px 10px;
}
