.titleLine {
  font-size: 26px;
  height: 82px;
  line-height: 82px;
  border-bottom: 1px solid #999;
  padding-left: 30px;
}
.titleLine .line {
  display: inline-block;
  width: 6px;
  height: 42px;
  background-color: #f57619;
  vertical-align: middle;
}
.titleLine .title {
  margin-left: 25px;
}
.rateContent {
  margin-top: 60px;
  margin-left: 64px;
}
.rateContent ul li {
  float: left;
  line-height: 30px;
}
.rateContent ul li:first-child {
  line-height: 33px;
}
.rateContent ul li:nth-child(2) {
  margin: 0 8px;
}
.rateContent ul:nth-child(2) {
  margin-top: 24px;
}
.layui-rate li i.layui-icon {
  font-size: 30px;
}
.layui-rate {
  padding: 0px;
}
.tips {
  font-size: 12px;
  color: #f22121;
}
.cancelContent {
  padding-left: 58px;
  padding-top: 17px;
  padding-right: 265px;
}
.inputCheck {
  position: relative;
}
.checkInput + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0px;
  background: #fff;
  border: 1px solid #999;
}
/*当input框为选中状态时，lable标签的样式，其中在css选择时，“：”表示当前input框的值，即checked；
      该部分主要对显示的“对号”的大限居中方式，显示颜色进行了设置*/
.checkInput:checked + label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  color: #f57619;
}
.inputCheck {
  margin-top: 26px;
}
.inputCheck li {
  float: left;
}
.inputCheck li:last-child {
  margin-left: 12px;
}
.otherReason,
.eventDetail {
  margin-top: 30px;
}
.otherReason li textarea,
.eventDetail li textarea {
  width: 616px;
  height: 198px;
  margin-top: 18px;
}
.uploadImg {
  margin-top: 30px;
}
.uploadImg > ul {
  margin-top: 23px;
}
.upload {
  position: relative;
}
.uploadimg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 135px;
  height: 147px;
  display: none;
}
.uploadimg img {
  margin-left: 51px;
  margin-top: -44px;
}
.layui-btn {
  opacity: 0;
  background-color: transparent;
  margin-left: 20px;
  margin-top: 40px;
  height: 54px;
  line-height: 54px;
}
.uploadContent li {
  float: left;
}
.uploadContent li:not(:first-child) {
  margin-left: 48px;
}
.delImg {
  position: relative;
}
.delImg .del {
  width: 29px;
  height: 29px;
  background-color: #f51919;
  border-radius: 29px;
  line-height: 29px;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 26px;
  position: absolute;
  top: -13px;
  right: -15px;
  cursor: pointer;
}
.buttons {
  margin-top: 60px;
}
.buttons li {
  float: left;
  margin-left: 120px;
}
.buttons li:first-child {
  margin-left: 19px;
}
.btn-orange {
  width: 130px;
  height: 32px;
  outline: none;
  border: 0px;
  border: 1px solid #f57619;
  color: #fff;
  line-height: 32px;
  text-align: center;
  background-color: #f57619;
  cursor: pointer;
}
.input li {
  float: left;
  line-height: 30px;
}
.input li:nth-child(2) {
  margin: 0 8px;
}
.input li input {
  width: 541px;
  height: 30px;
  border: 0px;
  border: 1px solid #999;
}
.input li input.phoneNo {
  width: 192px;
}
.contact {
  margin-top: 34px;
}
#allmap {
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 0;
}
