<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../plugins/banner/css/banner.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/carHall/common.css">
    <link rel="stylesheet" href="../../css/carHall/brandDetail.css">
    <title>汽车大厅</title>
</head>

<body>
    <div class='header' ms-controller='header'>
        <header>
            <!-- 版心 -->
            <div class='content_box'>
                <!-- 顶部的引导导航条 -->
                <div class='row topBar'>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row'>
                            <div class='col-sm-5'>欢迎登陆纵运汽车服务平台</div>
                            <div class='col-sm-7'>成都市|<span>切换</span></div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row  text-right'>
                            <div class='col-sm-2 col-sm-offset-6'>消息</div>
                            <div class='col-md-4 col-sm-4 userMsg'>
                                <ul class='clearfix'>
                                    <li>头像</li>
                                    <li>用户名</li>
                                </ul>
                            </div>
                            <!-- <div class='col-sm-4'>您好,请<a href='javascript:;'>登录</a>或<a href='javaascript:;'>注册</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 导航条 -->
        <div class='navBar  fixNavBar'>
            <!-- 版心 -->
            <div class='content_box'>
                <div class="row">
                    <div class="col-md-3 col-sm-3 bg-fff">
                        <div class='row'>
                            <div class='col-sm-9 text-left'><img src="../../images/logo.png" width='202px' height='80px'
                                    alt="logo"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 pl0">
                        <ul class="layui-nav">
                            <li class="layui-nav-item" data-src='../../index.html'><a href="javascript:;">首页</a></li>
                            <li class="layui-nav-item layui-this" data-src='../../views/carHall/carHall.html'><a href="javascript:;">汽车大厅</a></li>
                            <li class="layui-nav-item" data-src='../../views/financial/financial.html'><a href="javascript:;">金融服务</a></li>
                            <li class="layui-nav-item" data-src='../../views/orderDriver/orderDriver.html'><a href="javascript:;">订单管理</a></li>
                            <li class="layui-nav-item" data-src='../../views/logistics/logistics.html'><a href="javascript:;">物流公司</a></li>
                            <li class="layui-nav-item" data-src='../../views/cooperate/cooperate.html'><a href="javascript:;">我要合作</a></li>
                            <li class="layui-nav-item" data-src='../../views/download/download.html'><a href="javascript:;">APP下载</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 汽车大厅 -->
    <div ms-controller='root'>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 轻卡等分类系列 -->
            <div class='kinds clearfix'>
                <ul>
                    <li><img src="../../images/qk.png" width='94px' height='60px' alt=""></li>
                    <li>轻卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/zk.png" width='94px' height='60px' alt=""></li>
                    <li>重卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/qy.png" width='94px' height='60px' alt=""></li>
                    <li>牵引车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zh.png" width='94px' height='60px' alt=""></li>
                    <li>载货车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zx.png" width='94px' height='60px' alt=""></li>
                    <li>自卸车</li>
                </ul>
                <ul>
                    <li><img src="../../images/xny.png" width='94px' height='60px' alt=""></li>
                    <li>新能源</li>
                </ul>
            </div>
            <!-- 加盟广告 -->
            <div class='ads'>
                <img src="../../images/ads.png" width='100%' height='144px' alt="加盟广告">
            </div>
            <!-- 面包屑导航 -->
            <div class='row breadNav'>
                <div class='col-md-12 col-sm-12 ml0'>
                    <span>当前位置:</span>
                    <span class="layui-breadcrumb" lay-separator=">">
                        <a href="">首页</a>
                        <a href="">汽车大厅</a>
                        <a><cite>品牌详情</cite></a>
                    </span>
                </div>
            </div>
            <!-- 品牌详情 -->
            <div class='row brandDetail'>
                <div class='col-md-3 col-sm-3 detail_img'>
                    <ul>
                        <li><img src="../../images/pinpai.png" width='248px' height='140px' alt=""></li>
                        <li>奔驰</li>
                    </ul>
                </div>
                <div class='col-md-9 col-sm-9'>
                    <div class='detail_show clearfix'>
                        <div class='detail_content clearfix'>
                            <div class='carTitle'>载货车&nbsp;:</div>
                            <div class='carBrands'>
                                <span>新Actros</span>
                                <span>新Actros</span>
                                <span>新Actros</span>
                                <span>新Actros</span>
                            </div>
                        </div>
                        <div class='detail_content'>
                            <div class='carTitle'>载货车&nbsp;:</div>
                            <div class='carBrands'>
                                <span>新Actros</span>
                                <span>新Actros</span>
                                <span>新Actros</span>
                                <span>新Actros</span>
                            </div>
                        </div>
                        <div class='detail_content'>
                            <div class='carTitle'>载货车&nbsp;:</div>
                            <div class='carBrands'>
                                <span>新Actros</span>
                                <span>新Actros</span>
                                <span>新Actros</span>
                                <span>新Actros</span>
                            </div>
                        </div>
                    </div>
                    <div class='changeStatus'>
                        <ul class='clearfix'>
                            <li>展开</li>
                            <li>/</li>
                            <li>隐藏</li>
                        </ul>
                    </div>
                    <div class='allType'>
                        <ul>
                            <li>共13个车系</li>
                            <li>|</li>
                            <li>共13个车型</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 热门车型 -->
            <div class='popularTitle'>热门车型</div>
            <div class='popularType'>
               <div class='carTypeDetail clearfix'>
                    <ul>
                        <li><img src="../../images/hottype.png" alt=""></li>
                        <li class="font20">奔驰 &nbsp;Actros</li>
                        <li>455P马力匹配法士特8档</li>
                        <li class='font26 fontw'>25.66~45万</li>
                    </ul>
                    <ul>
                        <li><img src="../../images/hottype.png" alt=""></li>
                        <li class="font20">奔驰 &nbsp;Actros</li>
                        <li>455P马力匹配法士特8档</li>
                        <li class='font26 fontw'>25.66~45万</li>
                    </ul>
                    <ul>
                        <li><img src="../../images/hottype.png" alt=""></li>
                        <li class="font20">奔驰 &nbsp;Actros</li>
                        <li>455P马力匹配法士特8档</li>
                        <li class='font26 fontw'>25.66~45万</li>
                    </ul>
                    <ul>
                        <li><img src="../../images/hottype.png" alt=""></li>
                        <li class="font20">奔驰 &nbsp;Actros</li>
                        <li>455P马力匹配法士特8档</li>
                        <li class='font26 fontw'>25.66~45万</li>
                    </ul>
               </div>
            </div>
            <!-- 全部车系信息 -->
            <div class='row'>
                <div class='col-md-9 col-sm-9 allSeriesMsg'>
                    <div class='brandsTitle'>全部车系信息</div>
                    <div class="tab">
                        <ul class="tabMenu clearfix">
                            <li>全部</li>
                            <li  class="tab_this">牵引车</li>
                            <li>载货车</li>
                            <li>自卸车</li>
                        </ul>
                        <div class="tabContent">
                            <div class="tabItem  dis_none">全部的内容</div>
                            <div class="tabItem clearfix">
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div> 
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                                <div class='carItems clearfix'>
                                    <div class='carImg'>
                                        <img src="../../images/allSerires.png" width='211' height='159' alt="">
                                    </div>
                                    <ul class='carDes'>
                                        <li class='font20'>奔驰Actros 牵引车</li>
                                        <li>价格<span>:</span>75.00~330.00万元</li>
                                        <li>车型<span>:</span>共有67款</li>
                                        <li>图片<span>:</span>共有4142张</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tabItem dis_none">载货车内容</div>
                            <div class="tabItem dis_none">自卸车内容</div>
                        </div>
                    </div>
                </div>
                <!-- 更多品牌信息 -->
                <div class='col-md-3 col-sm-3 moreMsg'>
                    <div class='brandsTitle'>更多品牌信息</div>
                    <div class='brandsMsg'>
                        <div class='row'>
                            <div class='col-md-4'>公司名称<span>:</span></div> 
                            <div class='col-md-7'>戴姆勒卡客车（中国）有限公司</div> 
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>公司地址<span>:</span></div>
                            <div class='col-md-7'>北京市朝阳区望京街8号院 戴姆勒大厦</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>服务热线<span>:</span></div>
                            <div class='col-md-7'>2012-41863212</div>
                        </div>
                         <div class='row'>
                            <div class='col-md-4'>公司官网<span>:</span></div>
                            <div class='col-md-7'>www.cjisnsh.com</div>
                        </div>
                        <div class='adsPlace'>
                            <img src="../../images/adsPlace.png" alt="">
                            <img src="../../images/adsPlace.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 经销商 -->
            <div class='row sellAgent'>
                <div class='sellTitle'>经销商</div>
                <div class='col-md-9 col-sm-9'>
                    <div class='row province'>
                        <div class='col-md-1 col-sm-1'>省份:</div>
                        <div class='col-md-11 col-sm-11' id='province'></div>
                    </div>
                    <div class='row city'>
                        <div class='col-md-1 col-sm-1'>城市:</div>
                        <div class='col-md-11 col-sm-11' id='city'></div>
                    </div>
                    <div class='row agent'>
                        <div class='col-md-12 col-sm-12'>
                            <div class='agent_content clearfix'>
                                <div class='agent_detail fl'>
                                    <ul class='pull-left font16'>
                                        <li>四川信智益汽车销售服务有限公司</li>
                                        <li>
                                            <button>4S店</button>
                                            <button>售本市</button>
                                            <button>2年</button>
                                        </li>
                                    </ul>
                                    <ul class='pull-left logo'>
                                        <li><img src="../../images/qx.jpg" width='96px' height='59px' alt=""></li>
                                    </ul>
                                    <div class='clearfix'></div>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>品&emsp;&emsp;牌&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>中国重汽</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>地&emsp;&emsp;址&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>四川省成都双流会缘汽配城21栋</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>经销商电话&nbsp;:&nbsp;</li>
                                        <li class='pull-left font20'>4006839788</li>
                                    </ul>
                                </div>

                                <div class='agent_detail fl'>
                                    <ul class='pull-left font16'>
                                        <li>四川信智益汽车销售服务有限公司</li>
                                        <li>
                                            <button>4S店</button>
                                            <button>售本市</button>
                                            <button>2年</button>
                                        </li>
                                    </ul>
                                    <ul class='pull-left logo'>
                                        <li><img src="../../images/qx.jpg" width='96px' height='59px' alt=""></li>
                                    </ul>
                                    <div class='clearfix'></div>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>品&emsp;&emsp;牌&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>中国重汽</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>地&emsp;&emsp;址&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>四川省成都双流会缘汽配城21栋</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>经销商电话&nbsp;:&nbsp;</li>
                                        <li class='pull-left font20'>4006839788</li>
                                    </ul>
                                </div>
                                <div class='agent_detail fl'>
                                    <ul class='pull-left font16'>
                                        <li>四川信智益汽车销售服务有限公司</li>
                                        <li>
                                            <button>4S店</button>
                                            <button>售本市</button>
                                            <button>2年</button>
                                        </li>
                                    </ul>
                                    <ul class='pull-left logo'>
                                        <li><img src="../../images/qx.jpg" width='96px' height='59px' alt=""></li>
                                    </ul>
                                    <div class='clearfix'></div>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>品&emsp;&emsp;牌&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>中国重汽</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>地&emsp;&emsp;址&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>四川省成都双流会缘汽配城21栋</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>经销商电话&nbsp;:&nbsp;</li>
                                        <li class='pull-left font20'>4006839788</li>
                                    </ul>
                                </div>
                                <div class='agent_detail fl'>
                                    <ul class='pull-left font16'>
                                        <li>四川信智益汽车销售服务有限公司</li>
                                        <li>
                                            <button>4S店</button>
                                            <button>售本市</button>
                                            <button>2年</button>
                                        </li>
                                    </ul>
                                    <ul class='pull-left logo'>
                                        <li><img src="../../images/qx.jpg" width='96px' height='59px' alt=""></li>
                                    </ul>
                                    <div class='clearfix'></div>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>品&emsp;&emsp;牌&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>中国重汽</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>地&emsp;&emsp;址&nbsp;:&nbsp;</li>
                                        <li class='pull-left'>四川省成都双流会缘汽配城21栋</li>
                                    </ul>
                                    <ul class='clearfix'>
                                        <li class='pull-left'>经销商电话&nbsp;:&nbsp;</li>
                                        <li class='pull-left font20'>4006839788</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--content_box -->
        <!-- <include src='../footer/footer.html'></include> -->
    </div>
    <script src='../../plugins/common/include.js'></script>
    <include src='../../views/footer/footer.html'></include>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../plugins/common/include.js'></script>
    <script src='../../plugins/banner/js/banner.js'></script>
    <script src='../../js/data/api.js'></script>
    <script src='../../js/data/return_data.js'></script>
    <script src='../../data/data.js'></script>
    <script src='../../js/header.js'></script>
    <script src='../../js/carHall/brandsDetail.js'></script>
</body>
</html>