<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../plugins/banner/css/banner.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/carHall/common.css">
    <link rel="stylesheet" href="../../css/carHall/brandsTotal.css">
    <title>汽车大厅</title>
</head>

<body>
    <!-- 汽车大厅 -->
    <div ms-controller='root'>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 轻卡等分类系列 -->
            <div class='kinds clearfix'>
                <ul>
                    <li><img src="../../images/qk.png" width='94px' height='60px' alt=""></li>
                    <li>轻卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/zk.png" width='94px' height='60px' alt=""></li>
                    <li>重卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/qy.png" width='94px' height='60px' alt=""></li>
                    <li>牵引车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zh.png" width='94px' height='60px' alt=""></li>
                    <li>载货车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zx.png" width='94px' height='60px' alt=""></li>
                    <li>自卸车</li>
                </ul>
                <ul>
                    <li><img src="../../images/xny.png" width='94px' height='60px' alt=""></li>
                    <li>新能源</li>
                </ul>
            </div>
            <!-- 加盟广告 -->
            <div class='ads'>
                <img src="../../images/ads.png" width='100%' height='144px' alt="加盟广告">
            </div>
            <!-- 面包屑导航 -->
            <div class='row breadNav'>
                <div class='col-md-12 col-sm-12 ml0'>
                    <span>当前位置:</span>
                    <span class="layui-breadcrumb" lay-separator=">">
                        <a href="">首页</a>
                        <a href="">汽车大厅</a>
                        <a><cite>品牌大全</cite></a>
                    </span>
                </div>
            </div>
            <!-- 品牌查找 -->
            <div class='row kindSelect'>
                <div class='col-md-3 col-sm-3 ml0 selectChoose'>
                    <ul class="parentWrap">
                        <li class="menuGroup">
                            <span class="groupTitle">品牌查找</span>
                            <div>
                                <div class='selectContent'>
                                    <div class='letterSelect'>
                                        <span>A</span>
                                        <span>B</span>
                                        <span>C</span>
                                        <span>D</span>
                                        <span>E</span>
                                        <span>F</span>
                                        <span>G</span>
                                        <span>H</span>
                                        <span>I</span>
                                        <span>J</span>
                                        <span>K</span>
                                        <span>L</span>
                                        <span>M</span>
                                        <span>N</span>
                                        <span>O</span>
                                        <span>P</span>
                                        <span>Q</span>
                                        <span>R</span>
                                        <span>S</span>
                                        <span>T</span>
                                        <span>U</span>
                                        <span>V</span>
                                        <span>W</span>
                                        <span>X</span>
                                        <span>Y</span>
                                        <span>Z</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menuGroup">
                            <span class="groupTitle">类型查找</span>
                            <div class='kindsContent'>
                                <span>牵引车</span>
                                <span>载货车</span>
                                <div class='cl'></div>
                                <span>自卸车</span>
                                <span>挂车</span>
                                <div class='cl'></div>
                                <span>轻卡</span>
                                <span>封闭货车</span>
                                <div class='cl'></div>
                                <span>新能源</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class='col-md-9 col-sm-9 groupContent dis_none'>
                    <ul class='barTitle clearfix'>
                        <li class='titleLine'></li>
                        <li>牵引车</li>
                    </ul>
                    <div class='groupDetail'>
                        <ul class='clearfix'>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                        </ul>
                        <ul class='clearfix'>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                        </ul>
                        <ul class='clearfix'>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                            <li>奔驰新Actros</li>
                        </ul>
                    </div>
                </div>
                <div class='col-md-9 col-sm-9 groupContent'>
                    <div class='row groupItems'>
                        <div class='col-md-3 col-sm-3'>
                            <ul>
                                <li><img src='../../images/pinpai.png' class='品牌查找图片' /></li>
                                <li>奔驰</li>
                            </ul>
                        </div>
                        <div class='col-md-9 col-sm-9'>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                        </div>
                    </div>
                    <div class='row groupItems'>
                        <div class='col-md-3 col-sm-3'>
                            <ul>
                                <li><img src='../../images/pinpai.png' class='品牌查找图片' /></li>
                                <li>奔驰</li>
                            </ul>
                        </div>
                        <div class='col-md-9 col-sm-9'>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                        </div>
                    </div>
                    <div class='row groupItems'>
                        <div class='col-md-3 col-sm-3'>
                            <ul>
                                <li><img src='../../images/pinpai.png' class='品牌查找图片' /></li>
                                <li>奔驰</li>
                            </ul>
                        </div>
                        <div class='col-md-9 col-sm-9'>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                            <ul>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                                <li>奔驰新Actros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--content_box -->
        <!-- <include src='../footer/footer.html'></include> -->
    </div>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../plugins/common/include.js'></script>
    <script src='../../plugins/banner/js/banner.js'></script>
    <script src='../../js/data/api.js'></script>
    <script src='../../js/data/return_data.js'></script>
    <script src='../../js/carHall/brandsTotal.js'></script>
    <script>
    $('.menuGroup .groupTitle').on('click', function() {
        $(this).siblings().show().parent().siblings().children('div').hide();
        $(this).addClass('titleActive').parent().siblings().find('.groupTitle').removeClass('titleActive');

    });
    </script>
</body>

</html>