<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/carHall/common.css">
    <link rel="stylesheet" href="../../css/carHall/carFilter.css">
    <title>汽车大厅</title>
</head>

<body>
    <!-- 汽车大厅 -->
    <div ms-controller='root'>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 轻卡等分类系列 -->
            <div class='kinds clearfix'>
                <ul>
                    <li><img src="../../images/qk.png" width='94px' height='60px' alt=""></li>
                    <li>轻卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/zk.png" width='94px' height='60px' alt=""></li>
                    <li>重卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/qy.png" width='94px' height='60px' alt=""></li>
                    <li>牵引车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zh.png" width='94px' height='60px' alt=""></li>
                    <li>载货车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zx.png" width='94px' height='60px' alt=""></li>
                    <li>自卸车</li>
                </ul>
                <ul>
                    <li><img src="../../images/xny.png" width='94px' height='60px' alt=""></li>
                    <li>新能源</li>
                </ul>
            </div>
            <!-- 加盟广告 -->
            <div class='ads'>
                <img src="../../images/ads.png" width='100%' height='144px' alt="加盟广告">
            </div>
            <!-- 面包屑导航 -->
            <div class='row breadNav'>
                <div class='col-md-6 col-sm-6 ml0'>
                    <span>当前位置</span>
                    <span class='ml4 mr4'>:</span>
                    <span class="layui-breadcrumb" lay-separator=">">
                        <a href="">首页</a>
                        <a><cite>汽车大厅</cite></a>
                    </span>
                </div>
                <div class='col-md-6 col-sm-6 text-right'>
                    <input type="text" class='search' placeholder="输入车型/品牌/4S店进行搜索" /><button class='btn-search'>搜索</button>
                </div>
            </div>
            <!-- 面包屑导航结束 -->
            <!-- 筛选条件 -->
            <div class='row filterCondition'>
                <div class='col-md-12 col-sm-12'>
                    <div class='carApplication clearfix'>
                        <ul>
                            <li>车型用途:</li>
                        </ul>
                        <ul class='clearfix'>
                            <li>不限</li>
                            <li>牵引车</li>
                            <li>载货车</li>
                            <li>自卸车</li>
                            <li class='tri'>电动货车<span class='triangle'></span></li>
                        </ul>
                        <div class='clearfix'></div>
                        <div class='newEnergy'>
                            <span>电动轻卡</span>
                            <span>电动牵引车</span>
                            <span>电动自卸车</span>
                            <span>电动冷藏车</span>
                        </div>
                    </div>
                    <div class='carBrands clearfix'>
                        <ul>
                            <li>卡车品牌:</li>
                        </ul>
                        <ul class='clearfix'>
                            <li>不限</li>
                            <li>A</li>
                            <li>B</li>
                            <li>C</li>
                            <li>D</li>
                        </ul>
                        <div class='clearfix'></div>
                        <div class='carBrandsDetail'>
                            <span>卡车品牌</span>
                            <span>卡车品牌</span>
                            <span>卡车品牌</span>
                            <span>卡车品牌</span>
                            <span>卡车品牌</span>
                            <span>卡车品牌</span>
                            <span>卡车品牌</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='selected'>
                <span>筛选条件:</span>
                <ul>
                    <li>
            
                    </li>
                </ul>
            </div>
            <!-- 在售 即将上市 停售 -->
             <div class='row statueChoose'>
                <div class='col-md-12 col-sm-12'>
                    <ul class='statusList clearfix'>
                        <li class='hightLight'>在售(11)</li>
                        <li>即将上市(22)</li>
                        <li>停售(33)</li>
                    </ul>
                    <div class='statusContent'>
                        <div class='statusDetail'>
                            <div class='statusSelect'>
                                <div class='row statusDes'>
                                    <div class='col-md-3 col-sm-3 statusImg'>
                                        <img src="../../images/checkS.png" alt="">
                                    </div>
                                    <div class='col-md-8 col-md-8 carContent'>
                                        <div class='row'>
                                            <div class='col-md-9 col-sm-9'>
                                                <div class='statusDesTitle'>一汽解放J6P牵引车</div>
                                                <div class='row carDes'>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul class='clearfix'>
                                                            <li>驱动形式<span>:</span></li>
                                                            <li>
                                                                <span>6X4</span>
                                                                <span>4X2</span>
                                                                <span>6X2R</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul>
                                                            <li>发动机<span>:</span></li>
                                                            <li>
                                                                <span>锡柴</span>
                                                                <span>潍柴</span>
                                                                <span>大柴</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='row carDes'>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul class='clearfix'>
                                                            <li>最大马力<span>:</span></li>
                                                            <li>  
                                                                <span>560</span>
                                                                <span>550</span>
                                                                <span>460</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul>  
                                                            <li>排放标准<span>:</span></li>
                                                            <li>
                                                                <span>国六</span>
                                                                <span>国五</span>
                                                                <span>国四</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='row carDes'>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul class='clearfix'>
                                                            <li>变速箱<span>:</span></li>
                                                            <li>
                                                                <span>一汽</span>
                                                                <span>采埃孚</span>
                                                                <span>法士特</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul>
                                                            <li>前进档位<span>:</span></li>
                                                            <li>
                                                                <span>16档</span>
                                                                <span>12档</span>
                                                                <span>10档</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-md-3 col-sm-3 all'>
                                                <select>
                                                    <option>成都共有9家经销商</option>
                                                    <option>成都共有9家经销商</option>
                                                    <option>成都共有9家经销商</option>
                                                    <option>成都共有9家经销商</option>
                                                </select>
                                                <ul>
                                                    <li>厂商指导价</li>
                                                    <li>22~53万</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-condensed selectTable" id='loadMore'>
                                    <tbody>
                                        <tr>
                                            <td>驱动形式6X4</td>
                                            <td>厂商指导价</td>
                                            <td>图片</td>
                                            <td>相关信息</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class='selectDetail'>
                                                    <span>一汽解放</span>
                                                    <span>J6P重卡</span>
                                                    <span>350马力</span>
                                                    <span>4x2牵引车(12档)</span>
                                                    <span>(CA4180P66K2E5)</span>
                                                </div>
                                                <div class='allStatus'>
                                                    <button>在售</button>
                                                    <button>大柴</button>
                                                    <button>国五</button>
                                                    <button>6.75米</button>
                                                    <button>核载9.6吨</button>
                                                </div>
                                            </td>
                                            <td>25.55万</td>
                                            <td data-src='views/carHall/checkSeriesDetail.html'
                                                ms-on-click='@getPage($event)'>查看图片</td>
                                            <td data-src='views/carHall/checkSeriesDetail.html'
                                                ms-on-click='@getPage($event)'>查看参数</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class='selectDetail'>
                                                    <span>一汽解放</span>
                                                    <span>J6P重卡</span>
                                                    <span>350马力</span>
                                                    <span>4x2牵引车(12档)</span>
                                                    <span>(CA4180P66K2E5)</span>
                                                </div>
                                                <div class='allStatus'>
                                                    <button>在售</button>
                                                    <button>大柴</button>
                                                    <button>国五</button>
                                                    <button>6.75米</button>
                                                    <button>核载9.6吨</button>
                                                </div>
                                            </td>
                                            <td>25.55万</td>
                                            <td>查看图片</td>
                                            <td>查看参数</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class='row loadMore'>
                                    <div class='col-md-12 col-sm-12'><button class='btn-loadMore'>点击查看更多</button></div>
                                </div>
                            </div>
                            <div class='statusSelect'>
                                <div class='row statusDes'>
                                    <div class='col-md-3 col-sm-3 statusImg'>
                                        <img src="../../images/checkS.png" alt="">
                                    </div>
                                    <div class='col-md-8 col-md-8 carContent'>
                                        <div class='row'>
                                            <div class='col-md-9 col-sm-9'>
                                                <div class='statusDesTitle'>一汽解放J6P牵引车</div>
                                                <div class='row carDes'>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul class='clearfix'>
                                                            <li>驱动形式<span>:</span></li>
                                                            <li>
                                                                <span>6X4</span>
                                                                <span>4X2</span>
                                                                <span>6X2R</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul>
                                                            <li>发动机<span>:</span></li>
                                                            <li>
                                                                <span>锡柴</span>
                                                                <span>潍柴</span>
                                                                <span>大柴</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='row carDes'>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul class='clearfix'>
                                                            <li>最大马力<span>:</span></li>
                                                            <li>
                                                                <span>560</span>
                                                                <span>550</span>
                                                                <span>460</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul>
                                                            <li>排放标准<span>:</span></li>
                                                            <li>
                                                                <span>国六</span>
                                                                <span>国五</span>
                                                                <span>国四</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='row carDes'>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul class='clearfix'>
                                                            <li>变速箱<span>:</span></li>
                                                            <li>
                                                                <span>一汽</span>
                                                                <span>采埃孚</span>
                                                                <span>法士特</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6'>
                                                        <ul>
                                                            <li>前进档位<span>:</span></li>
                                                            <li>
                                                                <span>16档</span>
                                                                <span>12档</span>
                                                                <span>10档</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-md-3 col-sm-3 all'>
                                                <select>
                                                    <option>成都共有9家经销商</option>
                                                    <option>成都共有9家经销商</option>
                                                    <option>成都共有9家经销商</option>
                                                    <option>成都共有9家经销商</option>
                                                </select>
                                                <ul>
                                                    <li>厂商指导价</li>
                                                    <li>22~53万</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-condensed selectTable" id='loadMore'>
                                    <tbody>
                                        <tr>
                                            <td>驱动形式6X4</td>
                                            <td>厂商指导价</td>
                                            <td>图片</td>
                                            <td>相关信息</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class='selectDetail'>
                                                    <span>一汽解放</span>
                                                    <span>J6P重卡</span>
                                                    <span>350马力</span>
                                                    <span>4x2牵引车(12档)</span>
                                                    <span>(CA4180P66K2E5)</span>
                                                </div>
                                                <div class='allStatus'>
                                                    <button>在售</button>
                                                    <button>大柴</button>
                                                    <button>国五</button>
                                                    <button>6.75米</button>
                                                    <button>核载9.6吨</button>
                                                </div>
                                            </td>
                                            <td>25.55万</td>
                                            <td data-src='views/carHall/checkSeriesDetail.html'
                                                ms-on-click='@getPage($event)'>查看图片</td>
                                            <td data-src='views/carHall/checkSeriesDetail.html'
                                                ms-on-click='@getPage($event)'>查看参数</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class='selectDetail'>
                                                    <span>一汽解放</span>
                                                    <span>J6P重卡</span>
                                                    <span>350马力</span>
                                                    <span>4x2牵引车(12档)</span>
                                                    <span>(CA4180P66K2E5)</span>
                                                </div>
                                                <div class='allStatus'>
                                                    <button>在售</button>
                                                    <button>大柴</button>
                                                    <button>国五</button>
                                                    <button>6.75米</button>
                                                    <button>核载9.6吨</button>
                                                </div>
                                            </td>
                                            <td>25.55万</td>
                                            <td>查看图片</td>
                                            <td>查看参数</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class='row loadMore'>
                                    <div class='col-md-12 col-sm-12'><button class='btn-loadMore'>点击查看更多</button></div>
                                </div>
                            </div>
                        </div>
                         <div class='statusDetail dis_none'>即将上市</div>
                        <div class='statusDetail dis_none'>停售</div>
                    </div>
                </div>
            </div>
        </div>
        <!--content_box -->
        <div style='height:200px'></div>
    </div>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../plugins/banner/js/banner.js'></script>
    <script src='../../js/data/api.js'></script>
    <script src='../../js/data/return_data.js'></script>
    <script src='../../data/data.js'></script>
    <script src='../../js/carHall/carFilter.js'></script>
</body>

</html>