<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../plugins/banner/css/banner.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/carHall/common.css">
    <link rel="stylesheet" href="../../css/carHall/carNewsDetail.css">
    <title>汽车大厅</title>
</head>
<body>
    <!-- 汽车大厅 -->
    <div ms-controller='root'>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 轻卡等分类系列 -->
            <div class='kinds clearfix'>
                <ul>
                    <li><img src="../../images/qk.png" width='94px' height='60px' alt=""></li>
                    <li>轻卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/zk.png" width='94px' height='60px' alt=""></li>
                    <li>重卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/qy.png" width='94px' height='60px' alt=""></li>
                    <li>牵引车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zh.png" width='94px' height='60px' alt=""></li>
                    <li>载货车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zx.png" width='94px' height='60px' alt=""></li>
                    <li>自卸车</li>
                </ul>
                <ul>
                    <li><img src="../../images/xny.png" width='94px' height='60px' alt=""></li>
                    <li>新能源</li>
                </ul>
            </div>
            <!-- 加盟广告 -->
            <div class='ads'>
                <img src="../../images/ads.png" width='100%' height='144px' alt="加盟广告">
            </div>
            <!-- 新闻详情 -->
            <div class='newsContent row ml0'>
                <div class='col-md-8 col-sm-8 newsDetail'>
                    <div class='newsTitle'>G7领投 伙伴又增加 车满满获7000万投资</div>
                    <div class='newsSubTitle'>
                        <ul class='clearfix'>
                            <li>2019-08-29 15:32:54</li>
                        </ul> 
                    </div>
                    <p>
                        2019年7月9日,中国公路物流领域领先的信息科技公司车满满宣布正式完成总金额超7000万人民币的新一轮融资。 本轮融资由全球知名的物联网科技公司G7战略投资,车满满的现有股东传化智联、阿米巴等也共同参与投资。
                    </p>
                    <img src="../../images/detailImg.png" alt="">
                    <p>
                        作为国内公路物流领域领先的信息科技公司,基于先进的云计算、搜索引擎技术,车满满依托SaaS服务平台为数万家物流企业提供业务全流程信息化解决方案,帮助物流企业客户从订单流转、在途运输到财务结算实现全场景数据化与在线化。
                    </p>
                    <p>
                        覆盖客户类型包括三方企业、专线公司、零担快运网络、加盟型物流平台等等。截至目前,车满满服务的各类物流企业超过43000家,已成为中国零担物流领域最大的订单管理SaaS服务平台。
                    </p>
                </div>
                <div class='col-md-4 col-sm-4 pr0 relativeNews'>
                    <div class='title_line'>相关新闻</div>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                    <ul class='clearfix'>
                        <li><span class='circle-orange'></span></li>
                        <li><a href='javascript:;'>颠覆传统!车联网系统带你走上节油之路</a></li>
                    </ul>
                </div>
            </div>
            <div class='hotNews row ml0'>
                <div class='col-md-8 col-sm-8 pl0 pr0'>
                    <div class='title_line'>热门新闻</div>
                    <div class='row hotNewsDetail'>
                        <div class='col-md-4 col-sm-4 pr0'>
                            <img src="../../images/hotImg.png" alt="">
                        </div>
                        <div class='col-md-8 col-sm-8 pr0 pl0'>
                            <div class='hotNewsTitle'>高速物流 威龙牵引车进入南川市场</div>
                            <div class='hotNewsSubTitle'>
                                <ul class='clearfix'>
                                    <li>2019-08-29 15:32:54</li>
                                    <!-- <li>类型<span>:</span>新闻稿</li>
                                    <li>来源<span>:</span>厂商投稿</li>
                                    <li>作者<span>:</span>张三</li>
                                    <li>编辑<span>:</span>李四</li> -->
                                </ul>
                            </div>
                            <p>
                                2019年08月01日,重庆智胜汽车销售服务有限公司在南川举办了以“江铃福特重卡夏季大放送”为主题的江铃重汽威龙重卡420马力6X4牵引车产品推介会,来自周边地市的100位客户和经销商共同参加,现场收获5台订单
                            </p>
                        </div>
                    </div>
                    <div class='row hotNewsDetail'>
                        <div class='col-md-4 col-sm-4 pr0'>
                            <img src="../../images/hotImg.png" alt="">
                        </div>
                        <div class='col-md-8 col-sm-8 pr0 pl0'>
                            <div class='hotNewsTitle'>高速物流 威龙牵引车进入南川市场</div>
                            <div class='hotNewsSubTitle'>
                                <ul class='clearfix'>
                                    <li>2019-08-29 15:32:54</li>
                                    <!-- <li>类型<span>:</span>新闻稿</li>
                                    <li>来源<span>:</span>厂商投稿</li>
                                    <li>作者<span>:</span>张三</li>
                                    <li>编辑<span>:</span>李四</li> -->
                                </ul>
                            </div>
                            <p>
                                2019年08月01日,重庆智胜汽车销售服务有限公司在南川举办了以“江铃福特重卡夏季大放送”为主题的江铃重汽威龙重卡420马力6X4牵引车产品推介会,来自周边地市的100位客户和经销商共同参加,现场收获5台订单
                            </p>
                        </div>
                    </div>
                    <div class='row hotNewsDetail'>
                        <div class='col-md-4 col-sm-4 pr0'>
                            <img src="../../images/hotImg.png" alt="">
                        </div>
                        <div class='col-md-8 col-sm-8 pr0 pl0'>
                            <div class='hotNewsTitle'>高速物流 威龙牵引车进入南川市场</div>
                            <div class='hotNewsSubTitle'>
                                <ul class='clearfix'>
                                    <li>2019-08-29 15:32:54</li>
                                    <!-- <li>类型<span>:</span>新闻稿</li>
                                    <li>来源<span>:</span>厂商投稿</li>
                                    <li>作者<span>:</span>张三</li>
                                    <li>编辑<span>:</span>李四</li> -->
                                </ul>
                            </div>
                            <p>
                                2019年08月01日,重庆智胜汽车销售服务有限公司在南川举办了以“江铃福特重卡夏季大放送”为主题的江铃重汽威龙重卡420马力6X4牵引车产品推介会,来自周边地市的100位客户和经销商共同参加,现场收获5台订单
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--content_box -->
    </div>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../plugins/banner/js/banner.js'></script>
    <script src='../../js/data/api.js'></script>
    <script src='../../js/data/return_data.js'></script>
    <script src='../../js/carHall/carHall.js'></script>
</body>
</html>