<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../plugins/banner/css/banner.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/carHall/common.css">
    <link rel="stylesheet" href="../../css/carHall/checkSeriesDetail.css">
    <title>汽车大厅</title>
</head>

<body>
    <!-- 汽车大厅 -->
    <div ms-controller='root'>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 轻卡等分类系列 -->
            <div class='kinds clearfix'>
                <ul>
                    <li><img src="../../images/qk.png" width='94px' height='60px' alt=""></li>
                    <li>轻卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/zk.png" width='94px' height='60px' alt=""></li>
                    <li>重卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/qy.png" width='94px' height='60px' alt=""></li>
                    <li>牵引车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zh.png" width='94px' height='60px' alt=""></li>
                    <li>载货车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zx.png" width='94px' height='60px' alt=""></li>
                    <li>自卸车</li>
                </ul>
                <ul>
                    <li><img src="../../images/xny.png" width='94px' height='60px' alt=""></li>
                    <li>新能源</li>
                </ul>
            </div>
            <!-- 车型信息详情 -->
            <div class='row checkMsg'>
                <div class='col-md-4 col-sm-4'>
                    <img src="../../images/checkImg.png" alt="">
                </div>
                <div class='col-md-8 col-sm-8 msgDes'>
                    <div class='desTitle'>
                        <span>中国重汽</span>
                        <span>豪曼H5</span>
                        <span>210马力</span>
                        <span>6X4</span>
                        <span>5.77方混凝土搅拌车(9档)</span>
                        <span>(ZZ5258GJBG47EB1)</span>
                        <span class='headLine'></span>
                    </div>
                    <div class='desContent clearfix'>
                        <ul>
                            <li>底牌车系</li>
                            <li>重汽豪曼H5</li>
                        </ul>
                        <ul>
                            <li>上装品牌</li>
                            <li>重汽豪曼</li>
                        </ul>
                        <ul>
                            <li>发动机</li>
                            <li>中国重汽MC05.21-50</li>
                        </ul>
                        <ul>
                            <li>最大马力</li>
                            <li>210马力</li>
                        </ul>
                    </div>
                    <div class='moreDes clearfix'>
                        <ul class='clearfix'>
                            <li>厂商指导价:</li>
                            <li>26~56万</li>
                        </ul>
                        <ul class='clearfix'>
                            <li>联系电话:</li>
                            <li>0258-5621332</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 配置参数 查看图片 热销车型 -->
            <div class='row allCheckMsg'>
                <div class='col-md-8 col-sm-8'>
                    <div class='tab'>
                        <ul class='tabTitle clearfix'>
                            <li class='active'>配置参数</li>
                            <li>查看图片</li>
                        </ul>
                        <div class='tabContent'>
                            <div class='tabDetail'>
                                <div class='titleLine'>基本信息</div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>公告型号&nbsp;:</li>
                                            <li class='pull-left'>ZZ5167XXYH4215F1</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>类型&nbsp;:</li>
                                            <li class='pull-left'>厢式载货车</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>驱动形式&nbsp;:</li>
                                            <li class='pull-left'>4X2</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>轴距&nbsp;:</li>
                                            <li class='pull-left'>4200mm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>箱长级别&nbsp;:</li>
                                            <li class='pull-left'>5.5米</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>发动机&nbsp;:</li>
                                            <li class='pull-left'>福田康明斯 F3.8NS6B190</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>车身宽度&nbsp;:</li>
                                            <li class='pull-left'>2.55米</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>车身高度&nbsp;:</li>
                                            <li class='pull-left'>3.8米</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='titleLine'>发动机</div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>发动机&nbsp;:</li>
                                            <li class='pull-left'>福田康明斯 F3.8NS6B190</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>发动机品牌&nbsp;:</li>
                                            <li class='pull-left'>福田康明斯</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>发动机俗称&nbsp;:</li>
                                            <li class='pull-left'>富康 F3.8</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>汽 缸 数&nbsp;:</li>
                                            <li class='pull-left'>4</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='titleLine'>货箱参数</div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6 clearfix'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>货箱形式&nbsp;:</li>
                                            <li class='pull-left'>厢式8</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>货箱宽度&nbsp;:</li>
                                            <li class='pull-left'>2.44米</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='row tabMsg'>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>货箱长度&nbsp;:</li>
                                            <li class='pull-left'>5.5米</li>
                                        </ul>
                                    </div>
                                    <div class='col-md-6 col-sm-6'>
                                        <ul class='clearfix pull-left'>
                                            <li class='pull-left'>货箱高度&nbsp;:</li>
                                            <li class='pull-left'>2.5米</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style='height: 507px'></div>
                            </div>
                            <div class='tabDetail dis_none'>
                                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this">外观133张</li>
                                        <li>驾驶舱123张</li>
                                        <li>底盘67张</li>
                                    </ul>
                                    <div class="layui-tab-content">
                                        <div class="layui-tab-item layui-show clearfix">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <div class='clearfix'></div>
                                            <div style='height:320px'></div>
                                        </div>
                                        <div class="layui-tab-item">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <div class='clearfix'></div>
                                            <div style='height:320px'></div>
                                        </div>
                                        <div class="layui-tab-item">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <img src="../../images/hotSaleType .png" width="245px" height='196px' alt="">
                                            <div class='clearfix'></div>
                                            <div style='height:320px'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-sm-4 hotType'>
                    <div class='titleBottom'>热销车型</div>
                    <div class='typeDetail'>
                        <ul>
                            <li>
                                <img src="../../images/hotSaleType .png" width='294' height="214" alt="">
                            </li>
                            <li>
                                <span>一汽解放</span>
                                <span>J6P重卡</span>
                                <span>350马卡</span>
                                <span>4X2牵引车</span>
                            </li>
                            <li>
                                <span>(12档)</span>
                                <span>(CA4180P66K2E5)</span>
                            </li>
                        </ul>
                        <ul class='clearfix'>
                            <li class='pull-left'>25.0~36.6万</li>
                            <li class='pull-right'>询底价&gt;&gt;</li>
                        </ul>
                    </div>
                    <div class='typeDetail'>
                        <ul>
                            <li>
                                <img src="../../images/hotSaleType .png" width='294' height="214" alt="">
                            </li>
                            <li>
                                <span>一汽解放</span>
                                <span>J6P重卡</span>
                                <span>350马卡</span>
                                <span>4X2牵引车</span>
                            </li>
                            <li>
                                <span>(12档)</span>
                                <span>(CA4180P66K2E5)</span>
                            </li>
                        </ul>
                        <ul class='clearfix'>
                            <li class='pull-left'>25.0~36.6万</li>
                            <li class='pull-right'>询底价&gt;&gt;</li>
                        </ul>
                    </div>
                    <div class='typeDetail'>
                        <ul>
                            <li>
                                <img src="../../images/hotSaleType .png" width='294' height="214" alt="">
                            </li>
                            <li>
                                <span>一汽解放</span>
                                <span>J6P重卡</span>
                                <span>350马卡</span>
                                <span>4X2牵引车</span>
                            </li>
                            <li>
                                <span>(12档)</span>
                                <span>(CA4180P66K2E5)</span>
                            </li>
                        </ul>
                        <ul class='clearfix'>
                            <li class='pull-left'>25.0~36.6万</li>
                            <li class='pull-right'>询底价&gt;&gt;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--content_box -->
    </div>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../js/data/api.js'></script>
    <script src='../../js/data/return_data.js'></script>
    <script src='../../js/carHall/checkSeriesDetail.js'></script>
</body>

</html>